POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

DB_USER=postgres
DB_PASSWORD=password

JWT_SECRET=your_very_secret_key_32_characters_long_minimum
JWT_EXPIRATION=86400000

SPRING_PROFILES_ACTIVE=docker